<h1>Notes</h1>

<%= paginate @kbs %>
<p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Tags</th>
      <th>Title</th>
      <th>Content</th>
      <% if is_admin? %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @kbs.each do |kb| %>
      <tr>
        <td><%= link_to kb.id, kb_path(kb) %></td>
        <td><%= kb.tags %></td>
        <td><%= kb.title %></td>
        <td><%= raw kb.content[0..100].gsub(/\n/,'<br />') %>...</td>
        <% if is_admin? %>
          <td>
            <%= link_to 'Edit', edit_kb_path(kb), :class => 'btn btn-mini' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if is_admin? %>
  <%= link_to 'New', new_kb_path, :class => 'btn btn-primary' %>
<% end %>
